
    <h1>Mark's Salvation Cocktails</h1>
    <h2>Delivering a Mark Gould Guarantee of Good Flavor!</h2>


<div class = "cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)
 ">
  <!-- clickable link, go to cocktail id -->
    <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
  </div>

  <% end %>
  <!-- clickable link, go to new cocktail path -->
    <p><%= link_to "new Cocktail", new_cocktail_path %></p>
</div>

