<h1>My Cocktail </h1>

<p> <%= @cocktail.name %>
  <% @cocktail.doses.each do |dose| %>
<p><%= dose.description %></p>
<%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

</p>
